body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #BABC94;
}

button:hover {
  cursor: pointer;
}

#tracks-container span {
  font-weight: bold;
}

#tracks-container p {
  font-size: 12px;
  margin-bottom: 5px;
  padding: 0;
}

#tracks-container .container:nth-child(even) {
  background-color: #E5DFCF;
}

#tracks-container .container:hover {
  background-color: #9FA659;
  cursor: pointer;
}

#tracks-container #tracks-headers-container :hover {
  background-color: #BABC94;
  cursor: default;
}

.input-group {
  width: 250px;
  margin: 5px auto;
}

.input-group .form-control {
  border-radius: 4px 0 0 4px !important;
}

.col {
  min-width: 50px
}

